fastapi
streamlit
chromadb
sentence-transformers
langchain
langchain-community
pypdf
docx2txt
transformers
python-docx
python-pptx
reportlab
pandas
tiktoken
python-dotenvuvicorn
httpx
yfinance
pydantic
pytz
plotly
requests
